/**
 * Button
 */

.btn,
.btn:focus,
.btn:hover
{
	background: none;
	outline: none;
	box-shadow: none;
	border: none;
	color: inherit;
	letter-spacing: inherit;
}

.btn
{
	cursor: pointer;
	padding: .4em .5em;
	font-size: .95em;
	position: relative;
}

.btn:before
{
	content: "";
	height: .3em;
	position: absolute;
	left: .5em;
	right: .5em;
	bottom: .2em;
	background-color: var(--accent_color_07);
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform .15s ease, opacity .15s;
	opacity: 0;
}

.btn:hover:before
{
	transform: scaleY(1);
	opacity: .7;
}

.btn.btn--is-active:before
{
	transform: scaleY(1);
	opacity: 1;
}
