/**
 * Input
 */

.container label + select
{
	margin-top: 1em;
}

.search__label
{
	display: none;
}

.search__input
{
    border: none;
    outline: none;
    border-bottom: .05em solid var(--color_07);
    width: 100%;
    padding: .2em;
    padding-right: 1.5em;
    background-color: transparent;
    font-size: inherit;
}

.search__button
{
    margin-left: -1em;
    padding: 0;
    transition: fill .1s ease;
}

.search__button:hover
{
    fill: currentColor;
}

.search__button svg
{
	width: 1em;
	height: 1em;
}

.search__input:focus
{
	border-bottom: .07em solid;
	margin-bottom: -.02em;
}

.search.search--big
{
    font-size: 2.5em;
}
